<footer class="container d-flex pt-2 justify-content-around">
  <div class="navbar-footer-button">
    <%= link_to suggestions_path, class: "d-flex flex-column  #{ params[:controller] == 'runs' && params[:action] == 'suggestions' ? 'active' : '' }" do %>
      <i class="fa-solid fa-house"></i>
      <span class="navbar-footer-word">Home</span>
    <% end %>
  </div>
  <div class="navbar-footer-button">
     <%= link_to runs_path, class: "d-flex flex-column #{params[:controller] == 'runs' && params[:action] == 'index' ? 'active' : '' }"  do %>
      <i class="fa-solid fa-person-running"></i>
      <span class="navbar-footer-word">Runs</span>
    <% end %>
  </div>
  <div class="navbar-footer-button">
     <%= link_to trends_runs_path, class: "d-flex flex-column #{params[:controller] == 'runs' && params[:action] == 'trends' ? 'active' : '' }" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span class="navbar-footer-word">Trends</span>
    <% end %>
  </div>
    </div>
</footer>
