<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>puts "Description: #{description}"</p>
<p>puts "Weather: #{weather}"</p>
<p>puts "Wind: #{wind}"</p>
<p>puts "Humidity: #{humidity}"</p>
<p>puts "Precipitation: #{precipitation}"</p>
<p>puts "Air Quality: #{air_quality}"</p>
Hello!!!!
<%= link_to 'SUGGESTIONS',suggestions_path(@runs), class: 'btn rounded-4 btn-primary btn-sm' %>
<%= link_to 'ADD TO CALENDAR',suggestions_path(@runs), class: 'btn rounded-4 btn-warning text-white btn-sm' %>
