.scheduledruns-div{

  h1{
    color: #03045E;
  }

  .each-scheduled-runs-div{
    .dot-circle{
      color:#FF9E00;
    }
  }

  .info-div{
    background-color: #FF9E00;
    border-radius: 4px;
    color: white;
    position: relative;
    .clicksuggestion{
        position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  p{
    margin:0;
    padding:0;
  }

  .timeandplacediv{
    text-align: center;
  }

  .iconandtemp{
    text-align: center;
    .weather-icon{
      color: white;
      // text-align: center;
      //  font-size: 24px;
    }
  }
}

.suggestion-info{
  h1{
    margin-bottom: 0px !important;
    strong{
      margin-left: -12px;
    }
  }
  p{
    font-size: 13px;
    color: gray;
    margin-left: 16px;
    margin-top: -4px;
  }
}
