// <div class="card-run">
//   <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
//   <div class="card-run-infos">
//     <h2>Product name</h2>
//     <p>Product description with <strong>relevant info</strong> only.</p>
//   </div>
// </div>


.card-run {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin: 12px;
}

.card-run img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-run h1,h2 {
  // font-size: 16px;
  // // font-weight: bold;
  // margin: 0;
  color: #03045E;
}

.card-run p {
  font-size: 10px;
  line-height: 1;
  opacity: .7;
  margin-top: 8px;

}

.card-run .card-run-infos {
  padding: 16px;
  margin: -4px;
}

.bg-suggested {
  background-image: linear-gradient(#0096C7 -20%, #FFFFFF 30%)
}

.bg-scheduled {
  background-image: linear-gradient(#FF9E00 -20%, #FFFFFF 30%)
}
