footer{
  position: fixed;
  bottom: 0px;
  background: white;
  padding-bottom: 16px;
  .navbar-footer-button{
    text-align: center;
    a{
      text-decoration: none;
      color:gray;
      &.active i{
        color:#03045E;
      }
    }
    span{
      font-size: 12px;
    }
  }

}
