<div class="row">
 <div class="col">
 <h1><strong>Suggestions</strong></h1>
  <div class="card-run">

    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="d-flex flex-column card-run-infos align-items-center flex-grow-1">
      <div class="d-flex flex-column pt-3card-run-text">
        <h2><strong>Friday, March 17th, 2023</strong></h2>
        <h2>7:30 at Imperial Palace</h2>
      </div>
      <span class="border-bottom "></span>
      <div class="d-flex justify-content-between  pt-4 w-100 card-run-weather-info">
        <div><i class="fa-solid fa-wind"></i>Wind</div>
        <div><i class="fa-solid fa-sun"></i>Sunny</div>
        <div><i class="fa-solid fa-temperature-high"></i>20°</div>
      </div>
    </div>
  </div>
 </div>
</div>
