<div class="d-flex justfify-content-center card-date-time">
  <div class="d-flex flex-column run-date">
    <div class="day"></div>
    <div class="date"></div>
  </div>
  <div class="time"></div>
</div>
<div class="d-flex flex-column align-items-start text-primary card-location-info">
  <h1><strong>Imperial Palace</strong></h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>
<div class="d-flex flex-column position-relative text-primary card-weather">
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"><i class="fa-solid fa-temperature-high"></i>20°<span class="visually-hidden">Temperature</span></span>
  <h1>Weather Forecast</h1>
  <p>Here is a brief description of the weather forecast today.</p>
</div>
