<% content_for :meta_title do %>
  <% "#{current_user.first_name} is checking out run suggestions on #{DEFAULT_META["meta_product_name"]}!" %>
<% end %>
<div class="container-fluid bg-white vh-100 pt-3">
  <%= render "scheduled_runs", runs: @upcoming_runs %>
  <div class="row text-primary suggestion-info">
    <h1>
    <%= image_tag "bluelogo.png", height:50, width:50 %>
    <strong>Suggestions</strong>
    </h1>
    <p>Based on your time preference of evening </p>
    <%= render "runs/card_suggestions", runs: @suggested_runs %>
  </div>
</div>
