<% content_for :meta_title, "#{current_user.first_name} is checking out run suggestions on #{DEFAULT_META["meta_product_name"]}!" %>
<% content_for :meta_description %>
<% content_for :meta_image %>
<div class="container-fluid bg-white vh-100 pt-3">
  <%= render "scheduled_runs", runs: @upcoming_runs %>
  <div class="row text-primary">
    <h1><strong>Suggestions</strong></h1>
    <%= render "runs/card_suggestions", runs: @suggested_runs %>
  </div>
</div>
