<div class="container-fluid bg-white vh-100 pt-3">
  <%= render "scheduled_runs", runs: @upcoming_runs %>
  <div class="row">
    <h1><strong>Suggestions</strong></h1>
    <%= render "runs/card_suggestions", runs: @suggested_runs %>
  </div>
</div>
